body{
text-align: center;
font-family: "Montserrat";
font-size: 1rem;
}

.sign-in-img{
width: 40%;
height: 40%;
}

.top-title{
font-size: 2rem;
}

.sign-in-text{
font-size: 1.5rem;
}

.sign-up-text{
margin-top: 1.5rem;
}

.col-centered{
    margin: 0 auto;
    float: none;
}

.label1{
margin-right: 49%;
}

.label2{
margin-right: 52%;
}

.footer-icon {
margin: 10px 10px 20px;
}

.footer_text{
color: #8f8f8f;
font-weight: 400;
}

.footer-link {
text-decoration: none;
color: black;
}

@media (max-width: 600px) {
body{
margin-top: 8rem;
margin-left: 2rem;
margin-right: 2rem;
}


.footer_text{
color: #8f8f8f;
margin-top: 15rem;
}
}
