<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- CSS and google font -->
    <link href="https://fonts.googleapis.com" rel="preconnect">
    <link crossorigin href="https://fonts.gstatic.com" rel="preconnect">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;900&family=Ubuntu&display=swap"
          rel="stylesheet">

    <!-- Bootstrap -->
    <link crossorigin="anonymous" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css"
          integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/sign-up.css') }}" rel="stylesheet">

    <!-- Font-awesome -->
    <script crossorigin="anonymous" src="https://kit.fontawesome.com/ca40c9bc2d.js"></script>

    <title>Sign-up</title>

</head>

<body>
<img src="{{ url_for('static', filename='img/businessman-holding-pencil.jpg')}}" class="sign-in-img">
<h2 class="top-title">Welcome Onboard!</h2>
<p>Let's help you keep up with your tasks</p>
<div>
    <div style="color: red">
            {% with messages = get_flashed_messages() %}
            {% if messages %}
            {% for message in messages %}
            <p>{{ message }}</p>
            {% endfor %}
            {% endif %}
            {% endwith %}
        </div>
    <form action="{{ url_for('sign_up') }}" method="post">
        <div class="col-sm-7 col-centered">
            {% for error in errors %}
                 <p style="color: red;">{{ error }}</p>
            {% endfor %}
        {% if errors %}
      <div class="input-group mb-3">
  <span class="input-group-text">Name</span>
               <input id="name" type="text" class="form-control" name="name_input" value="{{ session.get('form_data').get
               ('name_input') }}" aria-describedby="emailHelp">
          </div>
            </div>
  <div class="col-sm-7 col-centered">
      <div class="input-group mb-3">
  <span class="input-group-text">Email Address</span>
               <input id="email" class="form-control" name="email_address" value="{{ session.get('form_data').get
               ('email_address') }}" aria-describedby="emailHelp">
          </div>
            </div>
        {% else %}
        <div class="input-group mb-3">
  <span class="input-group-text">Name</span>
               <input id="name" type="text" class="form-control" name="name_input" value="" aria-describedby="emailHelp">
          </div>
            </div>
  <div class="col-sm-7 col-centered">
      <div class="input-group mb-3">
  <span class="input-group-text">Email</span>
               <input id="email" class="form-control" name="email_address" value="" aria-describedby="emailHelp">
          </div>
            </div>
        {% endif %}
        <div class="col-sm-7 col-centered">
      <div class="input-group mb-3">
  <span class="input-group-text" >Password</span>
          <input id="password" type="password" class="form-control" name="password_input" aria-describedby="emailHelp">
          </div>
            </div>
        <div class="col-sm-7 col-centered">
      <div class="input-group mb-3">
  <span class="input-group-text" >Confirm Password</span>
    <input id="password_confirm" name="password_confirmation" type="password" class="form-control" aria-describedby="emailHelp">
          </div>
            </div>
   <button type="submit" class="btn btn-primary btn-block btn-large">Sign Up</button>
</form>

<footer class="white-section" id="footer">
    <div>
        <p class="footer_text">© Copyright 2023 Managerly</p>
    </div>
</footer>

</body>
</html>